@import url(./reset.css);
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --blue: #2d4263;
  --cream: #ecdbba;
}
html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 1rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: solid .1rem var(--cream);
}

header nav{
	float: right;
}
header .navbar a {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: var(--cream);
  text-decoration: none;
}

header .navbar a.active,
header .navbar a:hover {
  background: var(--cream);
  color: var(--blue);
}
video {
  /*cover the whole screen*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
/* navigation bar ul*/
h1 {
  float: left;
}
nav ul {
  float: right;
  top: 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
}

/* Mahidar code */
body{
	font-family: 'Montserrat', sans-serif;
}

.bgs-1{
	background-color: #2d4263;
	height: 60vh;
	color: #ecdbba;
}

.pd1{
	margin-left:  6vw;
	margin-right: 6vw;
}

.bg-nav2{
	background-color: #2d4263;
	color: #ecdbba;
	height: 10vh;
}

.line-color{
background-color: #ecdbba;
height: 5px;
}

.bg-line-color{
	background-color: #2d4263;
}

.bg-b-color{
	background-color: #2d4263;
	border-width: 0;
	margin-top: 3vh;
	margin-left: 3vh;
	margin-right: 3vh;
	color: #ecdbba;
	font-size: 30px;
	border-radius: 20px;
	height: 5vh;
	padding: 5px;
}

.bg-b-color:hover {
	background-color: #ecdbba;
	color: #2d4263;
	
  }
