@import url(./reset.css);
body{
	font-family: 'Montserrat', sans-serif;
}

.bgs-1{
	background-color: #2d4263;
	height: 60vh;
	color: #ecdbba;
}

.pd1{
	margin-left:  6vw;
	margin-right: 6vw;
}

.bg-nav2{
	background-color: #2d4263;
	color: #ecdbba;
	height: 10vh;
}

.line-color{
background-color: #ecdbba;
height: 5px;
}

.bg-line-color{
	background-color: #2d4263;
}

.bg-b-color{
	background-color: #2d4263;
	border-width: 0;
	margin-top: 3vh;
	margin-left: 3vh;
	margin-right: 3vh;
	color: #ecdbba;
	font-size: 30px;
	border-radius: 20px;
	height: 5vh;
	padding: 5px;
}

.bg-b-color:hover {
	background-color: #ecdbba;
	color: #2d4263;
	
  }